ABORT BITMAP Abort.bmp
APPLY BITMAP Apply.bmp
CLOSE BITMAP Close.bmp
FASTBACK BITMAP FastBack.bmp
FASTFORWARD BITMAP FastForward.bmp
FIRST BITMAP First.bmp
HELP BITMAP Help.bmp
IGNORE BITMAP Ignore.bmp
LAST BITMAP Last.bmp
NEXT BITMAP Next.bmp
NO BITMAP No.bmp
OK BITMAP OK.BMP
PRIOR BITMAP Prior.bmp
RESET BITMAP Reset.bmp
YES BITMAP Yes.bmp
NEW BITMAP New.bmp
COPY BITMAP Copy.bmp
EDIT BITMAP Edit.bmp
DELETE BITMAP Delete.bmp
MOVEUP BITMAP MoveUp.bmp
MOVEDOWN BITMAP MoveDown.bmp